# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ingore Android Studio project-specific files
*.iml
.idea

# Ignore any android build related files
*.apk
*.ap_
*.dex
*.class
*.dex
*.jar
# allow AndroidApplication\gradle\wrapper\gradle-wrapper.jar
!gradle-wrapper.jar
*.aar
*.war
*.ear
*.so